<div class="mail-wrapper">

    <div id="mail-menulist" class="show collapse collapse-horizontal me-2">
        <div class="mail-menulist">
            <div class="card">
                <div class="card-body">

                </div>
                <div class="scroll-block" style="max-height: 350px;overflow-y: scroll;">
                    <div class="card-body pt-0">
                        <div class="list-group list-group-flush" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active"
                                style="background-color: #e1d8f1;color:#835fc4" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Meter Size
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Village
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Bill Cycle
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Country Origin
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Meter Class
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Meter Digit
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Meter Type
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>
                            <a class="list-group-item list-group-item-action mt-2" id="list-mailtab-1"
                                data-bs-toggle="list" href="#list-mail-1" role="tab">
                                <span> Meter Model
                                </span>
                                <span class="avtar avtar-xs"><i class="ti ti-dashboard"></i></span>
                            </a>

                            <hr class="my-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="mail-content ">
        <div class="tab-pane fade show active" id="list-mail-1" role="tabpanel" aria-labelledby="list-mailtab-1">
            <div class="card table-card">

                <app-meter-size></app-meter-size>

            </div>
        </div>

    </div>


</div>