<div class="page-header ng-star-inserted">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title"><!----><!---->
                    <h5 class="mb-2 ng-star-inserted"> System Control </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a _>Configuration</a></li>
                    <li class="breadcrumb-item ng-star-inserted">
                        <a href="javascript:">
                            Data
                        </a>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="card">

    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">

                <span>Customer </span>
            </ng-template>
            <p>

            </p>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">

                <span>Meter</span>
            </ng-template>


            <app-meter-config></app-meter-config>




        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">

                <span>Bill</span>

            </ng-template>

        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">

                <span>Payment</span>

            </ng-template>

        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">

                <span>Reason</span>

            </ng-template>

        </p-tabPanel>
    </p-tabView>
</div>